$hell :#FFF;
$menuText: #818181;
$gap: 10px;
$headText: 2.5em;
$DeskHeadText: 2.2em;
$text: 1.7em;
$fontLato: 'Lato', sans-serif;
$fontSource: 'Source Sans Pro', sans-serif;
$borderColor:#707070;
$divColor: #2E3140;
$background: #2D303F;
$headColor: #393C4F;
* {
    padding: 0;
    margin: 0; }
  
  body {
    background: $background;
    color:$hell; }
  
  img {
    width: 10%; }
  
  h1 {
    font-family: $fontLato }
  
  .sidenav {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $menuText;
    display: block; }
  
  .sidenav a:hover {
    color: #f1f1f1; }
  
  a {
    text-decoration: none; }
  
  .burger {
    display: block;
    position: absolute;
    z-index: 5;
    float: left;
    cursor: pointer;
    background: #2D303F;
    border: none;
    justify-self: end;
    margin-top: 10px;
    padding-left: 15px; }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: $menuText;
    margin: 6px 0;
    transition: 0.4s; }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px); }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0; }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px); }
  
  ul {
    margin: 0;
    padding: 0; }
  
  li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid $borderColor; }
  
  nav.show {
    display: block;
    max-height: 100%;
    z-index: 1;
    top: 0px;
    padding-top: 60px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0; }
  
  .nav_mobil a {
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    color: $hell;
    font-family: $fontLato; }
  
  .nav_mobil {
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 0px;
    max-height: 0px;
    overflow: hidden;
    font-size: 25px;
    transition: 0.6s;
    background-color: $divColor;
    color: $hell; }
  
  .main {
    margin: 30px 30px; }
  
  #barInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
    width: 100%; }
  
  .name {
    text-align: center;
    color: $hell;
    font-size: 4.5em;
    grid-column: 2/3;
    grid-row: 1/2; }
  
  .closeTime {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
    color: $hell;
    margin-top: 10px;
    padding-right: 15px;
    font-size: 0.7em; }
  
  #svgcontainer {
    grid-column: 1/4;
    grid-row: 2/3; }
  
  line {
    width: 100%;
    stroke: $menuText;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 2s ease; }
  
  .bartenders_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-gap: $gap;
    margin-bottom: 20px; }
  
  #bartendersInfo {
    background-color: $divColor;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px solid $borderColor;
    grid-row: 2/3; }
  
  // .status_grid {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr;
  //  }
  
  .employee_grid {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 20% 1fr; }
  
  .antal {
    margin: 0;
    grid-column: 1/2;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center;
    height: 100%;
    font-size: 2.5em; }
  
  .antal_text {
    margin: 0;
    height: 100%;
    grid-column: 2/3;
    font-size: 2.5em;
    color: $hell;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center; }
  
  #bartendersInfo img {
   padding-left:36vw;
   padding-bottom: 5px;
    padding-top: 30px;
    width: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    }
  
  .bartendersName {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    text-align: center;
    font-size: 1.2em; }
  
  .queue {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-gap: $gap;
    margin-bottom: 20px; }
  
  .queue_grid {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 20% 1fr; }
  
  .queueNumber {
    margin: 0;
    grid-column: 1/2;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center;
    height: 100%;
    font-size: 2.5em; }
  
  .queue_text {
    margin: 0;
    height: 100%;
    grid-column: 2/3;
    font-size: 2.5em;
    color: $hell;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center; }
  
  .queueSection {
    background-color: $divColor;
    border: 1px solid $borderColor;
    padding-top: 25px;
    padding-left: 30px;
    margin: 0; }
  
  #wrapper {
    position: relative;
    margin: auto;
    max-width: 100%; }
  
  svg {
    border-radius: 50%; }
  
  #meter {
    transform: rotateX(180deg); }
  
  .circle {
    fill: none; }
  
  .outline, #mask {
    stroke: #F1F1F1;
    stroke-width: 32.5; }
  
  .range {
    stroke-width: 30; }
  
  #meter_needle {
    height: 40%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    transform-origin: bottom center;
    /* transform: rotate(270deg); */
    transition: rotate(270deg) 10s; }
  
  .serving_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-gap: $gap;
    margin-bottom: 20px; }
  
  .order_div {
    background-color: $divColor;
    border: 1px solid $borderColor;
    padding: 15px 15px;
    margin: 0; }
  
  .serving_order {
    text-align: center;
    font-size: 2.5em; }
  
  #servingInfo {
    font-size: 1.2em;
    grid-row: 2/3; }
  
  .server_grid {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 20% 1fr; }
  
  .servingNumber {
    margin: 0;
    grid-column: 1/2;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center;
    height: 100%;
    font-size: 2.5em; }
  
  .serving_text {
    margin: 0;
    height: 100%;
    grid-column: 2/3;
    font-size: 2.5em;
    color: $hell;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center; }
  
  #storageKeg {
    display: none; }
  
  .storage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-gap: $gap;
    margin-bottom: 20px; }
  
  .storage_grid {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 20% 1fr; }
  
  #storageInfo {
    grid-row: 2/3;
    background-color: $divColor;
    border: 1px solid $borderColor;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0; }
  
  .storageNumber {
    margin: 0;
    grid-column: 1/2;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center;
    height: 100%;
    font-size: 2.5em; }
  
  .storage_text {
    margin: 0;
    height: 100%;
    grid-column: 2/3;
    font-size: 2.5em;
    color: $hell;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center; }
  
  .storageName {
    font-family: $fontSource;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px; }
  
  .storageAmounth {
    font-family: $fontLato;
    font-size: 1.2em;
    margin-bottom: 20px; }
  
  .taps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-gap: $gap;
    margin-bottom: 20px; }
  
  .taps_grid {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 20% 1fr; }
  
  .svgTapClass img {
    padding-left: 15vw;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30%;
    transform: rotate(-90deg);
  }
  
  #tapsInfo {
    display: none;
    grid-row: 2/3;
    background-color: $divColor;
    border: 1px solid $borderColor;
    padding-top: 25px;
    padding-left: 30px;
    margin: 0; 
  }
  
  .tapsNumber {
    margin: 0;
    grid-column: 1/2;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center;
    height: 100%;
    font-size: 2.5em; }
  
  .taps_text {
    margin: 0;
    height: 100%;
    grid-column: 2/3;
    font-size: 2.5em;
    color: $hell;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center; }
  
  .svgcontainer1 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 50%;
    margin: 0 auto;
    border: 1px solid $borderColor;
    transform:rotate(90deg);
     }
  
  .tapLine {
    width: 100%;
    stroke: #C47F3B;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 2s ease; }
  
  .beertypes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-gap: $gap;
    margin-bottom: 20px; }
  
  .beertypes_grid {
    display: grid;
    grid-template-columns: 20% 1fr; }
  
  #beerImg {
    margin-left: 31.5vw;
    width: 20%; }
  
  #beertypesInfo {
    grid-row: 2/3;
    background-color: $divColor;
    border: 1px solid $borderColor;
    padding: 15px 15px;
    margin: 0; }
  
  .beertypesNumber {
    margin: 0;
    grid-column: 1/2;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center;
    height: 100%;
    font-size: 2.5em; }
  
  .beertypes_text {
    margin: 0;
    height: 100%;
    grid-column: 2/3;
    font-size: 2em;
    color: $hell;
    background-color: $headColor;
    border: 1px solid $borderColor;
    text-align: center; }
  
  button {
    display: none; }
  
  .modal_window {
    display: none;
    display: grid;
    justify-content: center;
    align-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    visibility: hidden; }
  
  .modal_window section {
    display: none;
    background-color: $hell;
    border-radius: 8px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px; }
  
  .modal_window button {
    display: none;
    align-self: flex-end; }
  
  .modal_window h1 {
    display: none;
    margin: 2px 0 2px 0; }
  
  @media screen and (min-width: 667px) and (max-width: 1024px) {
    body {
      margin-left: 200px; }

    .burger {
      display: none; }

    .sidenav {
      display: block; }

    .closeTime {
      font-size: 1em; }

    .serving_order {
      font-size: 1.5em;
      font-family: $fontLato; }

    #servingInfo {
      font-size: 1.2em;
      font-family: $fontSource; }

    #storageInfo {
      display: grid;
      grid-template-columns: 1fr 1fr; }
    #storageKeg {
      display: none; }
    p.storageNumber {
      font-size: 1.2em;
      font-family: $fontSource; }
    p.storageName {
      font-size: 1.2em;
      margin-top: 0px;
      padding-left: 0px;
      font-family: $fontSource; }
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 10% 10% 10% 10%;
      grid-gap: 20px;
      margin: 30px 30px; }
    .bartenders_grid {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 100%; }
      #bartendersInfo img{
        padding-left:14vw;
        padding-bottom: 5px;
        padding-top: 15px;
      }

    .queue {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 100%; }
    .serving_grid {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 100%; }
    .storage {
      grid-column: 2/3;
      grid-row: 2/3;
      width: 100%; }

    .taps {
      grid-column: 1/3;
      grid-row: 3/4;
      width: 100%; }

      .svgTapClass img{
        width:20%;
        padding-left: 42vw;
       padding-bottom: 20vw;
      }
      
      #tapsInfo{
        padding-top: 15px;
        padding-left: 15px;
      }
    .beertypes {
      grid-column: 1/3;
      grid-row: 4/5;
      width: 100%; }
    #beertypesInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin-bottom: 10px; }
    .modal_window {
      display: block; }
    .modal_window section {
      display: block; }
    .modal_window button {
      display: block; }
    .modal_window h1 {
      display: block; } }
  
  @media screen and (min-width: 1024px) and (max-width: 2400px) {
    body {
      margin-left: 200px; }
    img {
      width: 5%; }
    .burger {
      display: none; }
    .sidenav {
      display: block; }
    #storageKeg {
      display: block; }
    #storageKeg img {
      width: 10%; }
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 30px 30px; }
    #bartendersInfo {
      max-width: 100%; }
      #bartendersInfo img{
        padding-left: 10vw;
      }
    .serving_text {
      font-size: 2.2em; }
    .servingNumber {
      font-size: 2.2em; }
    .bartenders_grid {
      grid-column: 1/2;
      grid-row: 1/2; }
    .queue {
      grid-column: 2/3;
      grid-row: 1/2; }
    .serving_grid {
      grid-column: 3/4;
      grid-row: 1/2; }
    .storage {
      grid-column: 1/4;
      grid-row: 2/3; }
      .grid_animation{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
      }
      #tapsInfo{
        display: block;
        grid-column: 1/2;
      }
      #tapsGlass{
        grid-column: 2/3;
      }
      svg{
        border-radius:0px;
        width:10%;
      }
    .taps {
      grid-column: 1/4;
      grid-row: 3/4; }
    .beertypes {
      grid-column: 1/4;
      grid-row: 4/5; }
    .keg_grid {
      display: grid;
      grid-template-columns: 20% 1fr;
      grid-template-rows: 1fr;
      grid-gap: $gap; }
    #storageInfo {
      grid-column: 1/2;
      grid-row: 1/2; }
    .storageName {
      font-size: 1em;
      padding-left: 0px; }
    .storageAmounth {
      font-size: 1em;
      margin-bottom: 25px; }
    #storageKeg {
      grid-column: 2/3;
      grid-row: 1/2; }
      .svgcontainer1{
        transform: rotate(360deg);
      }
      .svgTapClass img{
        width: 20%;
        padding-left:0vw;
      }
    #beertypesInfo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 20px;
      margin-bottom: 10px; } }
  